@use "../../base" as base;

.highlightsSection {
    background-color: base.$color-highlight-light;
    padding-top: 2.5rem;
}

.highlightsContent{
    @extend .section-content;
}

.headingBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

 .cardsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap:1rem;
}

