@use "../../base" as base;
header {
    background-color: base.$color-highlight-light;
    padding-bottom: 2rem;
}

.headerContent{
    @extend .section-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}

.headerLogo{
    max-width: 300px;
    min-width: 200px;
}

