footer{
    background-color: var(--color-primary-dark);
    color: var(--color-highlight-light);

}
footer h3{
    margin-block-start: 0;
    line-height: 100%;
}


footer div.section-content{
    padding-top:2rem;
    display:grid;
    grid-template-columns:auto 1fr 1fr 1fr;
    gap: 1rem;
}


.footer-navigation{
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.social-media{
    display:flex;
    flex-direction: column;
    justify-content: start;
}
footer ul,menu{
    margin-block: 0;
    padding-inline-start: 0;
}


@media screen and (max-width:830px){
    footer div.section-content{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width:460px){
    footer div.section-content{
        grid-template-columns: 1fr ;
    }
}

