@use "../../base" as base;

.highlightCard {
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  background-color: white;
  border-radius: base.$border-radius-large;

  img {
    height: 200px;
    object-fit: cover;
    border-radius: base.$border-radius-large base.$border-radius-large 0 0;
  }
}

.info {
  height: 100%;
  padding: 1rem;
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &LastToBottom {
    @extend .row;
    margin-top: auto;
  }
}

.price {
  &::before {
    content: "$";
    display: inline;
  }
}

.badge {
  display: inline;
  padding: 2px 4px;
  border-radius: 8px;
  background-color: base.$color-primary-dark;
  color: white;
}

.badgeRed {
  @extend .badge;
  background-color: base.$color-secondary-peach;
  color:base.$color-highlight-dark;
}
