@use "../../base" as base;

.testimonialsSection{
    background-color: white;
}

.testimonialsContent{
    @extend .section-content;
}

.testimonialsCards{
    display:flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    justify-content:flex-start;
    gap: 2rem;
}