@use "../../base" as base;

.testimonialsSection {
  background-color: white;
  padding-bottom: calc(7% + 2rem);
}

.testimonialsContent {
  @extend .section-content;
}

.testimonialsCards {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
}
