.positionHeader {
  display: flex;
  justify-content: space-between;
  flex: 1 1 0;
  gap: 1rem;
}

.positionFooter,
.positionOverlay {
  display: flex;
  flex-direction: column;
}

.positionOverlay {
  margin-top: 2rem;
  align-items: center;
  font-size: 2rem;
  gap: 1rem;
}
.positionOverlay a {
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 475px) {
  .positionHeader {
    display: none;
  }
}
